@charset "utf-8";
/* CSS Document */

@import "./defaultstyle.css";

#banner {
	color:rgb(255, 255, 255);
	
	
	
	background-color:rgb(255, 255, 255);
	margin:0;
	font-family: Georgia;
	
	background-image: url(./life_in_nyc/font_page2.jpg);
	height: 480px;

}