@charset "utf-8";
/* CSS Document */

@import "./defaultstyle.css";

#banner {
	color:rgb(255, 255, 255);
	
	
	
	background-color:rgb(255, 255, 255);
	margin:0;
	font-family: Georgia;
	
	background-image: url(./life_in_nyc/font_page.jpg);
	height: 480px;

}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 48%;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}