<p>%special fields include abbr, award, pdf, html, abstract, slides, video, selected, projectoutput</p>

<p>Last, F., &amp; Last, F. … (1900). <i>TODO</i>. <i>TODO</i>.
%daisam reference</p>

<p>Oala, L., Balachandran, P., Cabitza, F., Calderon Ramirez, S., Chiavegatto Filho, A., Eitel, F., Extermann, J., Fehr, J., Ghozzi, S., Gilli, L., Jaramillo-Gutierrez, G., Kester, Q.-A., Kurapati, S., Konigorski, S., Krois, J., Lippert, C., Martin, J., Merola, A., Murchison, A., … Srinivasan, V. (2020, May). Data and artificial intelligence assessment methods (DAISAM) reference. <i>Proceedings of the ITU/WHO Focus Group on Artificial Intelligence for Health (FG-AI4H) - Meeting I</i>.
%regulatory doc</p>

<p>Johner, C., Balachandran, P., Oala, L., Lee, A. .Y., Leite, A. W., Murchison, A., Lin, A., Molnar, C., Rumball-Smith, J., Baird, P., Goldschmidt, P. G., Quartarolo, P., Xu, S., Piechottka, S., &amp; Hornberger, Z. (2021). Good practices for health applications of machine learning: Considerations for manufacturers and regulators. <i>Proceedings of the ITU/WHO Focus Group on Artificial Intelligence for Health (FG-AI4H) - Meeting K</i>.
%training and test data specification</p>

<p>Verks, B., &amp; Oala, L. (2020). Data and artificial intelligence assessment methods (DAISAM) Audit Reporting Template. <i>Proceedings of the ITU/WHO Focus Group on Artificial Intelligence for Health (FG-AI4H) - Meeting J</i>, <i>FGAI4H-J-048</i>.
%software platform</p>

<p>Schörverth, E., Vogler, S., Balachandran, P., Leite, A. W., Li, D. X., Ali, K., aAndrea Garcia, Schneider, D., Krois, J., Lecoultre, M., Iyer, S., Choudhary, S., &amp; Oala, L. (2021). FG-AI4H Open Code Initiative - Evaluation and Reporting Package. <i>Proceedings of the ITU/WHO Focus Group on Artificial Intelligence for Health (FG-AI4H) - Meeting K</i>, <i>FGAI4H-K-043-A01</i>.
%din</p>

<p>Last, F., &amp; Last, F. … (1900). <i>TODO</i>. <i>TODO</i>.</p>
